example flows/offline sign tool/offline_sign_tool.json
[{"id":"dea64da7.20d88","type":"tab","label":"Offline Sign","disabled":false,"info":""},{"id":"2b45c3ee.a811bc","type":"generate-qrcode","z":"dea64da7.20d88","name":"","address":"","x":1050,"y":760,"wires":[["8b79ef64.c80d7"]]},{"id":"4f899af9.57f194","type":"ui_template","z":"dea64da7.20d88","group":"87cbe0fb.6a62c","name":"Text Result","order":2,"width":"12","height":"6","format":"<h2 style=\"text-align: center;\">Signed Transaction:</h2>\n<div style=\"text-align: center;\">\n    <textarea id=\"signedTransaction\" onclick=\"copyText()\" style='overflow-wrap: break-word;height: 130px;background-color: unset;color:unset; width:100%;'>{{msg.payload}}</textarea>\n</div>\n<div style=\"text-align: center;\">\n    <button onclick=\"copyText()\" class=\"md-raised md-button md-ink-ripple\" style=\"text-align: center; margin-top:15px;\">Copy Transaction</button>\n</div>\n<script>\n    function copyText(){\n        var copyText = document.getElementById(\"signedTransaction\");\n        copyText.select();\n        document.execCommand(\"copy\");\n        clearSelection();\n    }\n    function clearSelection()\n    {\n        if (window.getSelection) {window.getSelection().removeAllRanges();}\n        else if (document.selection) {document.selection.empty();}\n    }\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1030,"y":720,"wires":[[]]},{"id":"4236964e.b3c3b8","type":"ui_button","z":"dea64da7.20d88","name":"","group":"1eeddd7b.466843","order":4,"width":"12","height":"1","passthru":false,"label":"Sign","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Offline_Sign_Sign_Transaction\",\"Offline_Sign_Prepare_Transaction\"],\"show\":[\"Offline_Sign_Result\"]}}","payloadType":"json","topic":"","x":70,"y":780,"wires":[["45c8c691.a9d108"]]},{"id":"45c8c691.a9d108","type":"function","z":"dea64da7.20d88","name":"Sign","func":"var msg1, msgerror;\nvar secret = flow.get(\"secret\");\nif(secret != \"\" && secret != null){\n    var raw = flow.get(\"rawTransaction\");\n    msg1 = {payload:{txJSON: JSON.stringify(raw), secret: secret}};\n}\nelse {\n    msgerror = {error:\"<div>Please populate the secret</div>\"};\n}\nreturn [msg1, msgerror];","outputs":2,"noerr":0,"x":190,"y":780,"wires":[["b46fcd1d.7ff4c"],["f064d6d0.46a9f8"]]},{"id":"7c98f6f7.50b288","type":"ui_template","z":"dea64da7.20d88","group":"87cbe0fb.6a62c","name":"QR Result","order":3,"width":"12","height":"9","format":"<div style=\"text-align: center;\">\n    <img style=\"background-color: black; \" src=\"{{msg.payload.qr}}\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1410,"y":760,"wires":[[]]},{"id":"8b79ef64.c80d7","type":"function","z":"dea64da7.20d88","name":"Format Image","func":"var qr = msg.payload;\nmsg.payload = {\"qr\":qr};\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":760,"wires":[["7c98f6f7.50b288"]]},{"id":"788a9e1.cc0e96","type":"ui_text_input","z":"dea64da7.20d88","name":"","label":"Account* (FROM)","tooltip":"FROM XRP ADDRESS","group":"674c73fd.6cb95c","order":2,"width":"12","height":"1","passthru":true,"mode":"text","delay":300,"topic":"Account","x":550,"y":280,"wires":[["1cf3c8f7.0cab47"]]},{"id":"daf422ac.2f508","type":"ui_text_input","z":"dea64da7.20d88","name":"","label":"Destination* (TO)","tooltip":"THE RECEIVER ACCOUNT","group":"674c73fd.6cb95c","order":6,"width":"12","height":"1","passthru":true,"mode":"text","delay":300,"topic":"Destination","x":550,"y":320,"wires":[["1cf3c8f7.0cab47"]]},{"id":"6f957966.63a3c8","type":"ui_text_input","z":"dea64da7.20d88","name":"","label":"XRP Amount*","tooltip":"AMOUNT IN XRP","group":"674c73fd.6cb95c","order":4,"width":"12","height":"1","passthru":true,"mode":"text","delay":300,"topic":"Amount","x":540,"y":240,"wires":[["bbbf33d.fef01d"]]},{"id":"bde68811.512c58","type":"ui_text_input","z":"dea64da7.20d88","name":"","label":"Fee* (Drops)","tooltip":"TRANSACTIONS FEE IN DROPS. QUERY THE CURRENT FEE FROM A RIPPLED SERVER TO CHECK THE CORRECT AMOUNT.","group":"674c73fd.6cb95c","order":3,"width":"12","height":"1","passthru":true,"mode":"text","delay":300,"topic":"Fee","x":530,"y":400,"wires":[["1cf3c8f7.0cab47"]]},{"id":"c65bc428.8a5cc8","type":"ui_text_input","z":"dea64da7.20d88","name":"","label":"Sequence Number*","tooltip":"THE NEXT SEQUENCE NUMBER FOR THE INITIATING ACCOUNT","group":"674c73fd.6cb95c","order":5,"width":"12","height":"1","passthru":true,"mode":"text","delay":300,"topic":"Sequence","x":550,"y":440,"wires":[["1cf3c8f7.0cab47"]]},{"id":"80f3e9f7.1c3c58","type":"ui_text_input","z":"dea64da7.20d88","name":"","label":"Last Ledger Sequence*","tooltip":"IMPORTANT VALUE - SHOULD BE SET TO A LEDGER SEQUENCE CLOSE TO THE MOST RECENT ONE TO AVOID STUCK TRANSACTIONS. ADD 180 TO THE CURRENT LEDGER SEQUENCE FOR ROUGHLY A 10-15 MINUTE WINDOW TO SUBMIT TO THE LEDGER.","group":"674c73fd.6cb95c","order":7,"width":"12","height":"1","passthru":true,"mode":"text","delay":300,"topic":"LastLedgerSequence","x":570,"y":480,"wires":[["1cf3c8f7.0cab47"]]},{"id":"e714dd43.9292f","type":"ui_text_input","z":"dea64da7.20d88","name":"","label":"Raw Transaction","tooltip":"EDIT THIS FIELD TO ADD CUSTOM FIELDS OR TO CREATE A CUSTOM TRANSACTION TYPE","group":"674c73fd.6cb95c","order":10,"width":"24","height":"1","passthru":false,"mode":"text","delay":300,"topic":"","x":1030,"y":360,"wires":[["de020fa8.4b911"]]},{"id":"1cf3c8f7.0cab47","type":"function","z":"dea64da7.20d88","name":"Set Field","func":"var rawTransaction = flow.get(\"rawTransaction\");\n\nrawTransaction[msg.topic] = msg.payload;\nflow.set(\"rawTransaction\", rawTransaction);\n\nmsg.payload = JSON.stringify(rawTransaction);\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":360,"wires":[["e714dd43.9292f"]]},{"id":"5f76dd49.c3f334","type":"ui_button","z":"dea64da7.20d88","name":"","group":"689aa623.0dce28","order":1,"width":"24","height":"1","passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":100,"wires":[["ab274fd1.99d02","6203676.1e70b98"]]},{"id":"ab274fd1.99d02","type":"function","z":"dea64da7.20d88","name":"Reset","func":"var raw = {\"Flags\": 2147483648, \"Fee\":\"12\", \"TransactionType\":\"Payment\"};\nflow.set(\"rawTransaction\", raw);\nmsg.payload = JSON.stringify(raw);\nmsg.payload.text = \"\";\nmsg.payload.qr = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":100,"wires":[["c7e0e2e3.af705","137c197b.0f2e57","40289bc.958c564","c9a8ea69.c0d3c8","cc4629f0.4cc858","52fc5228.85891c"]]},{"id":"56d1e945.a931c8","type":"function","z":"dea64da7.20d88","name":"Update Inputs","func":"var rawTransaction = JSON.parse(msg.payload);\nflow.set(\"rawTransaction\", rawTransaction);\nmsg.payload = rawTransaction;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":360,"wires":[["35570192.0e5cce","a2b2a782.c64a88","9cbd2c17.14c68","c906c3f6.65a3d","811e237e.a2517","c6b115b6.5d7738","bd585ff6.313d5"]]},{"id":"35570192.0e5cce","type":"function","z":"dea64da7.20d88","name":"Set Account","func":"msg.payload = msg.payload.Account;\nif (msg.payload == null) msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["788a9e1.cc0e96"]]},{"id":"a2b2a782.c64a88","type":"function","z":"dea64da7.20d88","name":"Set Amount","func":"msg.payload = parseFloat(msg.payload.Amount) / 100000;\nif (msg.payload == null) msg.payload = \"\";\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["6f957966.63a3c8"]]},{"id":"9cbd2c17.14c68","type":"function","z":"dea64da7.20d88","name":"Set Destination","func":"msg.payload = msg.payload.Destination;\nif (msg.payload == null) msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["daf422ac.2f508"]]},{"id":"811e237e.a2517","type":"function","z":"dea64da7.20d88","name":"Set Fee","func":"msg.payload = msg.payload.Fee;\n\nif (msg.payload == null) msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["bde68811.512c58"]]},{"id":"c6b115b6.5d7738","type":"function","z":"dea64da7.20d88","name":"Set Sequence","func":"msg.payload = msg.payload.Sequence;\nif (msg.payload == null) msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":440,"wires":[["c65bc428.8a5cc8"]]},{"id":"bd585ff6.313d5","type":"function","z":"dea64da7.20d88","name":"Set Ledger","func":"msg.payload = msg.payload.LastLedgerSequence;\nif (msg.payload == null) msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["80f3e9f7.1c3c58"]]},{"id":"3617849c.c7ce7c","type":"ui_button","z":"dea64da7.20d88","name":"","group":"674c73fd.6cb95c","order":11,"width":"24","height":"1","passthru":false,"label":"Prepare Transaction","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Offline_Sign_Prepare_Transaction\",\"Offline_Sign_Result\"],\"show\":[\"Offline_Sign_Sign_Transaction\"]}}","payloadType":"json","topic":"","x":340,"y":580,"wires":[["1592c5b7.2e8d9a","fa38471b.c09438"]]},{"id":"c7e86699.880848","type":"ui_text_input","z":"dea64da7.20d88","name":"","label":"Secret","tooltip":"THE XRP SECRET ASSOCIATED WITH THE SOURCE ADDRESS","group":"1eeddd7b.466843","order":3,"width":"12","height":"1","passthru":true,"mode":"text","delay":300,"topic":"secret","x":710,"y":720,"wires":[["b69029d1.bc1218"]]},{"id":"c1e2ae60.7886a","type":"ui_ui_control","z":"dea64da7.20d88","name":"","x":160,"y":100,"wires":[["afab2f7a.2d62b"]]},{"id":"f3f321eb.ffe12","type":"ui_text_input","z":"dea64da7.20d88","name":"","label":"Transaction Type*","tooltip":"DEFAULTS TO PAYMENT. IF YOU WISH TO USE OTHER TRANSACTION TYPES THEN OVERWRITE THE RAW TRANSACTION FIELD BELOW","group":"674c73fd.6cb95c","order":8,"width":"12","height":"1","passthru":true,"mode":"text","delay":300,"topic":"TransactionType","x":550,"y":360,"wires":[["1cf3c8f7.0cab47"]]},{"id":"c906c3f6.65a3d","type":"function","z":"dea64da7.20d88","name":"Set Ledger","func":"msg.payload = msg.payload.TransactionType;\nif (msg.payload == null) msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["f3f321eb.ffe12"]]},{"id":"b46fcd1d.7ff4c","type":"sign-transaction","z":"dea64da7.20d88","name":"","txjson":"","x":350,"y":760,"wires":[["4e2aa837.e74cd8","5147501e.4965a"]]},{"id":"4615b277.b2ee4c","type":"ui_switch","z":"dea64da7.20d88","name":"","label":"Fully Canonical Signature?","tooltip":"AVOIDS MALICIOUS MODIFICATION OF YOUR TRANSACTION SIGNATURE..","group":"674c73fd.6cb95c","order":9,"width":"12","height":"1","passthru":true,"decouple":"false","topic":"Flags","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":580,"y":520,"wires":[["39ce5198.2ee14e"]]},{"id":"39ce5198.2ee14e","type":"function","z":"dea64da7.20d88","name":"Set Field","func":"var rawTransaction = flow.get(\"rawTransaction\");\n\nvar tfFullyCanonicalSig = 2147483648;\n\nif (msg.payload === false){\n    tfFullyCanonicalSig = 0;\n}\n\nrawTransaction.Flags = tfFullyCanonicalSig;\nflow.set(\"rawTransaction\", rawTransaction);\n\nmsg.payload = JSON.stringify(rawTransaction);\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":520,"wires":[["e714dd43.9292f"]]},{"id":"cc0d4367.e1318","type":"function","z":"dea64da7.20d88","name":"Set Default","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":520,"wires":[["4615b277.b2ee4c"]]},{"id":"c61b8067.ebb5","type":"link in","z":"dea64da7.20d88","name":"Raw Trans In","links":["de020fa8.4b911"],"x":35,"y":400,"wires":[["56d1e945.a931c8"]]},{"id":"de020fa8.4b911","type":"link out","z":"dea64da7.20d88","name":"Raw Trans Out","links":["c61b8067.ebb5"],"x":1175,"y":360,"wires":[]},{"id":"68591ee1.18e1","type":"link in","z":"dea64da7.20d88","name":"Trans Reset in","links":["c7e0e2e3.af705"],"x":35,"y":360,"wires":[["56d1e945.a931c8"]]},{"id":"c7e0e2e3.af705","type":"link out","z":"dea64da7.20d88","name":"trans reset out","links":["68591ee1.18e1"],"x":835,"y":60,"wires":[]},{"id":"698df98c.ff16c8","type":"link in","z":"dea64da7.20d88","name":"Canonical Reset In","links":["137c197b.0f2e57"],"x":255,"y":520,"wires":[["cc0d4367.e1318"]]},{"id":"137c197b.0f2e57","type":"link out","z":"dea64da7.20d88","name":"Canonical Reset Out","links":["698df98c.ff16c8"],"x":835,"y":100,"wires":[]},{"id":"cab23b60.bd1b98","type":"link in","z":"dea64da7.20d88","name":"Raw Trans Reset In ","links":["40289bc.958c564"],"x":795,"y":320,"wires":[["e714dd43.9292f"]]},{"id":"40289bc.958c564","type":"link out","z":"dea64da7.20d88","name":"Raw Trans Reset Out","links":["cab23b60.bd1b98"],"x":835,"y":140,"wires":[]},{"id":"1592c5b7.2e8d9a","type":"link out","z":"dea64da7.20d88","name":"UpdateUI Prepare Trans Out","links":["9995fb10.71e9a8"],"x":475,"y":620,"wires":[]},{"id":"9995fb10.71e9a8","type":"link in","z":"dea64da7.20d88","name":"UpdateUI Prepare Trans In","links":["1592c5b7.2e8d9a"],"x":35,"y":100,"wires":[["c1e2ae60.7886a"]]},{"id":"fc50c8e0.b30ff8","type":"link out","z":"dea64da7.20d88","name":"UpdateUI Sign Out","links":["2945ccf.a027634"],"x":975,"y":840,"wires":[]},{"id":"2945ccf.a027634","type":"link in","z":"dea64da7.20d88","name":"UpdateUI Sign In","links":["fc50c8e0.b30ff8"],"x":35,"y":60,"wires":[["c1e2ae60.7886a"]]},{"id":"cfb89e63.2931b","type":"link in","z":"dea64da7.20d88","name":"UpdateUI Clear In","links":["75e59d72.1c8d54"],"x":35,"y":140,"wires":[["c1e2ae60.7886a"]]},{"id":"75e59d72.1c8d54","type":"link out","z":"dea64da7.20d88","name":"UpdateUI Clear Out","links":["cfb89e63.2931b"],"x":715,"y":140,"wires":[]},{"id":"41af29f8.a34078","type":"comment","z":"dea64da7.20d88","name":"Show/Hide UI","info":"","x":170,"y":60,"wires":[]},{"id":"cc4629f0.4cc858","type":"link out","z":"dea64da7.20d88","name":"Reset Result Out","links":["63bdeb37.1a3eb4"],"x":835,"y":20,"wires":[]},{"id":"312b837a.545fec","type":"link in","z":"dea64da7.20d88","name":"Reset QR In","links":["c9a8ea69.c0d3c8"],"x":1295,"y":720,"wires":[["7c98f6f7.50b288"]]},{"id":"c9a8ea69.c0d3c8","type":"link out","z":"dea64da7.20d88","name":"Reset QR Out","links":["312b837a.545fec"],"x":835,"y":180,"wires":[]},{"id":"63bdeb37.1a3eb4","type":"link in","z":"dea64da7.20d88","name":"Reset Result In","links":["cc4629f0.4cc858"],"x":895,"y":680,"wires":[["4f899af9.57f194"]]},{"id":"8e623a49.6079c8","type":"comment","z":"dea64da7.20d88","name":"Clear Down & Reset","info":"","x":570,"y":60,"wires":[]},{"id":"e354dc1d.33a27","type":"comment","z":"dea64da7.20d88","name":"Prepare Transaction Page","info":"","x":130,"y":220,"wires":[]},{"id":"67d3730d.5e8dcc","type":"comment","z":"dea64da7.20d88","name":"Sign Transaction Page","info":"","x":120,"y":720,"wires":[]},{"id":"fa38471b.c09438","type":"function","z":"dea64da7.20d88","name":"Show Transaction","func":"var rawTransaction = flow.get(\"rawTransaction\");\nmsg.payload = JSON.stringify(rawTransaction);\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["d8aad587.365018"]]},{"id":"9523eccd.fa19f","type":"function","z":"dea64da7.20d88","name":"Format Result","func":"if (msg.payload.signedTX != null){\n    msg.payload = msg.payload.signedTX.signedTransaction;\n    return msg;\n}\nelse\n    return;\n","outputs":1,"noerr":0,"x":800,"y":760,"wires":[["4f899af9.57f194","2b45c3ee.a811bc"]]},{"id":"d8aad587.365018","type":"ui_template","z":"dea64da7.20d88","group":"1eeddd7b.466843","name":"Prepared Transaction","order":2,"width":"24","height":"3","format":"<h3>Prepared Transaction:</h3>\n<div style='overflow-wrap: break-word;'>{{msg.payload}}</div>\n<br>\n<br>\n<h3>Sign Your Transaction:</h3>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":580,"wires":[[]]},{"id":"a41c890.876c978","type":"ui_template","z":"dea64da7.20d88","group":"674c73fd.6cb95c","name":"Description","order":1,"width":"24","height":"1","format":"<div>Prepare your transaction for signature. This will default to a <b>Payment</b> transaction type, the fields below are all required to conduct an XRP payment. Hover over each field to get extra information. If you wish to prepare a different transaction type then edit the raw transaction field and ensure the transaction is <b>JSON</b> formated</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":90,"y":300,"wires":[[]]},{"id":"b652b8c9.bd46a8","type":"ui_template","z":"dea64da7.20d88","group":"1eeddd7b.466843","name":"Description","order":1,"width":"24","height":"1","format":"<div>Sign your prepared transaction ready for submission to the XRP ledger. Check the prepared transaction then enter the secret for the initiating (FROM) account to sign your transaction.</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":90,"y":840,"wires":[[]]},{"id":"9d783a43.38b008","type":"comment","z":"dea64da7.20d88","name":"Result Page","info":"","x":1030,"y":680,"wires":[]},{"id":"6ea3068b.a48058","type":"function","z":"dea64da7.20d88","name":"Check Result","func":"if(msg.payload.signedTX){\n    msg.payload.message = \"you have successfully signed your transaction. Copy the signed transaction below then submit to a rippled server using an online submission tool.\";\n}\nelse{\n    var error = msg.payload.toString();\n    msg.payload = {};\n    msg.payload.message = \"Signing your transaction has failed!. Go back and check the transaction fields are correct.\";\n    msg.payload.error = error;\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":800,"wires":[["342d2f90.b8a83"]]},{"id":"342d2f90.b8a83","type":"ui_template","z":"dea64da7.20d88","group":"87cbe0fb.6a62c","name":"Description","order":1,"width":"24","height":"2","format":"<div ng-bind-html=\"msg.payload.message\"></div>\n<br><br>\n<div style=\"color:red;\" ng-bind-html=\"msg.payload.error\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1030,"y":800,"wires":[[]]},{"id":"f064d6d0.46a9f8","type":"ui_template","z":"dea64da7.20d88","group":"1eeddd7b.466843","name":"Secret Missing","order":5,"width":"24","height":"2","format":"<div style=\"color:red !important;\" ng-bind-html=\"msg.error\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":560,"y":840,"wires":[[]]},{"id":"b69029d1.bc1218","type":"function","z":"dea64da7.20d88","name":"Set secret","func":"flow.set(\"secret\",msg.payload);\nreturn;","outputs":1,"noerr":0,"x":860,"y":720,"wires":[[]]},{"id":"52fc5228.85891c","type":"link out","z":"dea64da7.20d88","name":"Reset Secret Error Out","links":["243531c5.c07fce"],"x":795,"y":200,"wires":[]},{"id":"243531c5.c07fce","type":"link in","z":"dea64da7.20d88","name":"Reset Secret Error In","links":["52fc5228.85891c"],"x":435,"y":860,"wires":[["f064d6d0.46a9f8"]]},{"id":"d0111d64.1fc06","type":"function","z":"dea64da7.20d88","name":"UI","func":"msg.payload = {\"group\":{\"hide\":[\"Offline_Sign_Sign_Transaction\",\"Offline_Sign_Prepare_Transaction\"],\"show\":[\"Offline_Sign_Result\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":840,"wires":[["fc50c8e0.b30ff8"]]},{"id":"4e2aa837.e74cd8","type":"function","z":"dea64da7.20d88","name":"Reset secret","func":"flow.set(\"secret\",null);\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":720,"wires":[["c7e86699.880848"]]},{"id":"5147501e.4965a","type":"switch","z":"dea64da7.20d88","name":"Validation Error?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ValidationError","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":760,"wires":[["5da1e471.67de6c"],["d0111d64.1fc06","6ea3068b.a48058","9523eccd.fa19f"]]},{"id":"5da1e471.67de6c","type":"function","z":"dea64da7.20d88","name":"Get Error","func":"msg.error = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":800,"wires":[["f064d6d0.46a9f8"]]},{"id":"afab2f7a.2d62b","type":"switch","z":"dea64da7.20d88","name":"New Connection?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"change","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":100,"wires":[["5f76dd49.c3f334","6203676.1e70b98"]]},{"id":"6203676.1e70b98","type":"function","z":"dea64da7.20d88","name":"Reset","func":"msg.payload = {\"group\":{\"hide\":[\"Offline_Sign_Sign_Transaction\",\"Offline_Sign_Result\"],\"show\":[\"Offline_Sign_Prepare_Transaction\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":140,"wires":[["75e59d72.1c8d54"]]},{"id":"a8d1074d.08b558","type":"ui_template","z":"dea64da7.20d88","group":"689aa623.0dce28","name":"Add XRP Logo","order":1,"width":0,"height":0,"format":"<script id=\"logoScript\" type=\"text/javascript\">\n    $(function() {\n        if($('.md-toolbar-tools').length != 0){\n            loadLogo();\n        }else setTimeout(loadLogo, 500)\n    });\n    \n    function loadLogo(){\n        $('#logo').remove();\n        var toolbar = $('.md-toolbar-tools');\n        \n        var l = $('<div id=\"logo\"  style=\"margin-left: 35vw;\"><svg width=\"109\" height=\"30\" viewBox=\"0 0 2499.1 698\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"#FFF\"><path d=\"m704.1 0h119.3l-248.3 251c-89.9 90.9-235.5 90.9-325.4 0l-248.2-251h119.3l188.6 190.7c56 56.9 147.6 57.6 204.5 1.6.5-.5 1.1-1.1 1.6-1.6zm-584.8 698h-119.3l249.8-252.6c89.9-90.9 235.5-90.9 325.4 0l249.7 252.6h-119.3l-190.1-192.2c-56-56.9-147.6-57.6-204.5-1.6-.5.5-1.1 1.1-1.6 1.6z\"/><path d=\"m2276.7 0h.1c30.5.6 59.1 6.6 85.7 18 27.1 10.7 50.9 25.6 71.2 44.6 20.5 19.1 36.5 41.6 48 67.4 11.6 25.4 17.4 52.3 17.4 80.7 0 29-6.1 56.6-18.4 82.6-11.5 25.3-27.9 47.7-48.9 67.3-20.4 19-44.6 34.2-72.2 45.5h-.1c-27.3 10.8-56.6 16.2-87.8 16.2h-260.4v273.3h-91.6v-695.6zm-5 338c18.4 0 35.8-3.3 52.3-9.9 16.7-6.6 31.2-15.7 43.6-27.3 12.4-11.5 22.3-25.2 29.3-40.6 7.1-15.3 10.6-31.8 10.6-49.5 0-17.1-3.5-33.3-10.6-48.6-7-15.3-17-29.1-29.3-40.6-12.4-11.6-26.9-20.6-43.6-27.3-16.5-6.6-33.9-9.9-52.3-9.9h-260.4v253.7z\"/><path d=\"m1254.2 423.8c45.9 0 89.4 19.4 118.2 52.8l189.2 219.1h117.8l-258.8-303.7c-28.8-33.8-72.5-53.5-118.8-53.5h-179.3v-253.1h260.4c18.4 0 35.8 3.3 52.3 9.9 16.7 6.7 31.2 15.8 43.6 27.3l.2.2c12.3 10.9 22 24 29.1 39.5 7.1 15.3 10.6 31.8 10.6 49.6 0 17.7-3.6 34.2-10.6 49.5-4.3 8.9-9.5 17.3-15.7 25l59.6 66.5c.7-.8 1.5-1.6 2.2-2.4 17.6-19 31.2-40.1 40.7-63.5 10.2-23.6 15.3-48.7 15.3-75.2 0-28.4-5.8-55.4-17.4-80.8-11.5-25.9-27.5-48.4-48-67.5-20.4-19-44.1-34.1-71.1-45.5-26.7-11.4-55.3-17.4-85.9-18h-311.3c-12.6 0-23.6 4.7-32.6 13.2-8.7 8.1-13.2 18.1-13.2 29.5v652.9h91.6v-271.8z\"/></g></svg></div>');\n\n        toolbar.append(l);\n    }\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":1040,"y":80,"wires":[[]]},{"id":"bbbf33d.fef01d","type":"function","z":"dea64da7.20d88","name":"To XRP","func":"msg.payload = (msg.payload * 100000).toString();\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["1cf3c8f7.0cab47"]]},{"id":"87cbe0fb.6a62c","type":"ui_group","z":"","name":"Result","tab":"189ffd6b.554c73","order":4,"disp":true,"width":"24","collapse":false},{"id":"1eeddd7b.466843","type":"ui_group","z":"","name":"Sign Transaction","tab":"189ffd6b.554c73","order":3,"disp":true,"width":"24","collapse":false},{"id":"674c73fd.6cb95c","type":"ui_group","z":"","name":"Prepare Transaction","tab":"189ffd6b.554c73","order":2,"disp":true,"width":"24","collapse":false},{"id":"689aa623.0dce28","type":"ui_group","z":"","name":"Util","tab":"189ffd6b.554c73","order":1,"disp":false,"width":"24","collapse":false},{"id":"189ffd6b.554c73","type":"ui_tab","z":"","name":"Offline Sign","icon":"dashboard","order":7,"disabled":false,"hidden":false}]